/* These are the styles which are applied to every single element in this project. */
* {
    font-family: Calibri;
}

div > img {
    width: 100%;
    height: 100%;
}

/* Classes. These are the styles which can be applied to more than 1 elements in the project. */
.big {
    font-size: 56px;
    font-weight: bold;
}

.hamburger-button {
    position: absolute; /* "Display: none;" didn't work for some reason :( */
    left: -200%;        /* So I just hid the hamburger-button outside of the page, so it can't be seen. */
    width: 50px;
    height: 50px;
}

.hamburger-button:active {
    background-color: lightgray;
}

.red {
    color: red;
}

.error-message {
    display: inline;
    color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: scroll;
}

.grid-container > * {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 200px;
    font-size: 30px;
    text-align: center;
}

.grid-container > * > input {
    float: left;
    height: 25px;
    width: 25px;
}

/* Animations */

@keyframes slide {
    from { left: -350px; }
    to { left: 0px;}
}

@keyframes slide-back {
    from { left: 0; }
    to { left: -350px;}
}

/* These are the styles which can be applied to a one element in the whole project. */
/* (Except for nav-bar, main-div and info-section, since they can be found in almost every page, with the same info) */

#add-product-form > #main-div {
    display: flex;
}

#add-product-form > #main-div > div {
    height: 99%;
    width: 49%;
}

#add-product-form > #main-div > div > *, #add-product-form > #main-div > div > div > div > * {
    margin: 10px;
}

/* Styles unique only for the nav-bar, main-div and the info-section */
#nav-bar > * {
    display: inline;
    margin: 0;
}

#nav-bar > ul {
    float: right;
    list-style-type: none;
}

#nav-bar > ul > li {
    margin: 5px;
    display: inline;
    font-size: 56px;
}

#nav-bar > ul > li > input {
    font-size: 24px;
}

#main-div {
    height: 77.5vh;
    width: auto;
}

#info-section {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

/* Styles unique only for when the window is in portrait mode. */
/* Like on a mobile device for example. */
@media screen and (orientation:portrait) {
    #add-product-background-image-div {
        display: none;
    }

    .hamburger-button {
        position: relative;
        left: 0;
        display: block;
    }

    #nav-bar {
        border-right: 1px solid gray;
        background-color: white;
        padding: 5px 0 0 5px;
        position: absolute;
        left: -350px;
        top: 0px;
    }

    #nav-bar > * {
        display: block;
    }

    #nav-bar > ul > li {
        text-align: right;
        display: block;
    }

    #add-product-form > #main-div > div {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: auto;
    }
}